@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100;200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #EEF9BF;
}

.title {
  font-weight: 700;
  font-size: 56px;
  color: #75b79e;
  margin: 40px auto;
  max-width: 600px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 45px;
  width: 100%;
  max-width: 1200px;
  margin: 50px auto;
}

.card {
  height: 150px;
  width: 120px;
  border-radius: 5px;
  position: relative;
  transform-style: preserve-3d;
  transition: 400ms ease;
}

.face {
  width: 100%;
  height: 100%;
  position: absolute;
  border: 1px solid #99ceab;
  background-color: #99CEA8;
  display: flex;
  justify-content: center;
  align-items: center;
}

.front-face {
  transform: rotateY(180deg);
}

.back-face {
  backface-visibility: hidden;
}

.face img {
  height: 120px;
  width: 100px;
  margin: auto;
}

.reveal-card {
  transform: rotateY(180deg);
}